<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>M O D A L</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script> -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>

<body>


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Open modal for @mdo</button>
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@fat">Open modal for @fat</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@getbootstrap">Open modal for @getbootstrap</button> -->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
             <!-- <h5 class="modal-title" id="exampleModalLabel">VOTRE FICHE PRODUIT</h5> -->
             <h1 class="titremodal">votre fiche produit</h1>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>
         <div class="modal-body">

             <form action="/addshop" method="post">
             <div class="row bs-pd-row-form">

                 <div class="offset-1 col-3 bs-pd-col-form">
                     <input type="text" class="form-control" name="prodquantite" placeholder="Quantité">
                 </div>
                 <div class="         col-7 bs-pd-col-form">
                     <input type="text" class="form-control" name="prodlibelle" placeholder="Libellé du produit">
                 </div>

                 <div class="offset-1 col-10 bs-pd-col-form">
                     <input type="text" class="form-control" name="prodallergenes" placeholder="Allergène1, allergène2...">
                 </div>
                 <div class="offset-1 col-3 bs-pd-col-form">
                     <input type="text" class="form-control" name="prodprix" placeholder="Prix en €">
                 </div>


             </div>


         </div>
         <div class="modal-footer">
             <div class="row bs-pd-row-form">
                 <div class="offset-1 col-10 bs-pd-col-form">
                     <button type="button" class="btn btn-SuggarDoggy">Ajouter le produit</button>
                 </div>
             </div>
             </form>

         </div>
      </div>
   </div>
</div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


</body>

</html>
