<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

  </head>
  <body>
    <div id="homeBackground">
    <div class="container">
      <div class="row">
<div class='offset-1 col-6'>
        <h1>SUGGAR DOGGY</h1>
<div class="loginbackground">
      <h2>Consommez ethique et malin !</h2>
      <p>Luttez contre le gaspillage et profitez de patisseries artisanales moins cheres !</p>
      <form action='' method="post">
        <input type="text" class="form-control" name="lastname" placeholder="dupont">
        <input type="text" class="form-control" name="firstname" placeholder="paul">
        <input type="email" class="form-control" name="email" placeholder="ddd@gmail.com">
        <input type="password" class="form-control" name="password" placeholder="mot de passe">
        <button type="submit" class="btn btn-primary">M'inscrire</button>
        <button type="submit" class="btn btn-primary">Se connecter</button>
      </form>
      </div>
    </div>
</div>
    </div>

</div>
  </body>
</html>
