<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

</head>

<body>

  <div id="homeBackground">
    <div class="container">
      <div class="row">
        <div class="col-12" id="homecontent">

          <div id="header-home">
            <div class="brand">
              <img src="images/suggar-doggy-logo.png" class="logo">
              <h1>SUGGAR DOGGY</h1>
            </div>

            <div class="login-part">
              <a href="/login">Se connecter</a>
              <a href="/signup" class="btn btn-SuggarDoggy">S'inscrire</a>
            </div>
          </div>


          <div id="slogan">
            <h2>Consommez ethique et malin !</h2>
            <p>Luttez contre le gaspillage et profitez de patisseries artisanales moins cheres !</p>

            <form class="searchBar-home" action="/repertoire" method="POST">
                <select id="ville" name="ville" class="form-control">
                  <option>Où donc ?</option>
                  <option>Paris</option>
                  <option>Lyon</option>
                </select>

                <select id="specialite" name="specialite" class="form-control">
                  <option>Quoi donc ?</option>
                  <option>Toutes</option>
                  <option>Boulanger</option>
                  <option>Pâtissier</option>
                  <option>Chocolatier</option>
                </select>

                <button class="btn btn-SuggarDoggy">Rechercher</button>
            </form>

          </div>

          <div id="partner">
            <a href="">Devenir partenaire</a>
            <a href="/connexion-partner">Espace partenaires</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</body>

</html>
