<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Suggar Doggy - Choississez votre boutique</title>
  <link href="images/suggar-doggy-logo-min.png" rel="shortcut icon" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container-fluid">
    <header>
      <div class="brand">
        <img src="images/suggar-doggy-logo.png" class="logo">
        <h1>SUGGAR DOGGY</h1>
      </div>
    </header>

    <main id="repetoire-page">
      <div class="header-page"></div>

      <div id="container-repertory">
        <div class="row">

          <%
          for (var i = 0; i < shops.length; i++)
          {
          %>
          <div class="col-4 card-shop">
            <a href="/shop-selected?idShop=<%=shops[i]._id %>">
              <img class="pro-img" src="images/homeBackground.jpg">
              <div class="nameshop"><%=shops[i].raisonSociale %></div>
              <div class="specialite-shop"><%=shops[i].specialite %> . <%=shops[i].cp %></div>
            </a>
          </div>
          <%
          }
          %>

        </div>
      </div>


  </div>
  </div>

  </div>


</body>
