<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>Shop</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container-fluid">
    <header>
      <img src="images/suggar-doggy-logo.png" class="logo" alt="Logo Suggar Doggy">
      <h1>Suggar Doggy</h1>
    </header>

    <main id="repetoire-page">
      <div class="header-page"></div>

      <div id="container-repertory">
        <div class="row">
          <div class="col-4 card-shop">
            <a href="/shop">
              <img class="pro-img" src="images/homeBackground.jpg">
              <div class="nameshop">Yafaa</div>
              <div class="specialite-shop">Patissier . 69001</div>
            </a>
          </div>
          <div class="col-4 card-shop">
            <a href="/shop">
              <img class="pro-img" src="images/homeBackground.jpg">
              <div class="nameshop">Yafaa</div>
              <div class="specialite-shop">Patissier . 69001</div>
            </a>
          </div>
          <div class="col-4 card-shop">
            <a href="/shop">
              <img class="pro-img" src="images/homeBackground.jpg">
              <div class="nameshop">Yafaa</div>
              <div class="specialite-shop">Patissier . 69001</div>
            </a>
          </div>
          <div class="col-4 card-shop">
            <a href="/shop">
              <img class="pro-img" src="images/homeBackground.jpg">
              <div class="nameshop">Yafaa</div>
              <div class="specialite-shop">Patissier . 69001</div>
            </a>
          </div>
          <div class="col-4 card-shop">
            <a href="/shop">
              <img class="pro-img" src="images/homeBackground.jpg">
              <div class="nameshop">Yafaa</div>
              <div class="specialite-shop">Patissier . 69001</div>
            </a>
          </div>
          <div class="col-4 card-shop">
            <a href="/shop">
              <img class="pro-img" src="images/homeBackground.jpg">
              <div class="nameshop">Yafaa</div>
              <div class="specialite-shop">Patissier . 69001</div>
            </a>
          </div>
        </div>
      </div>


  </div>
  </div>

  </div>


</body>
