<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
  </head>
  <body>

    <div class="container-fluid">
        <header>
            <img src="images/suggar-doggy-logo.png" class="logo" alt="Logo Suggar Doggy">
            <h1>Suggar Doggy</h1>
        </header>


        <main>
          <div class="header-page">
            <div class="row">

              <div class="col-8">
                  <h2>Vidici pâtisserie</h2>
                  <div class="specialite-shop">Patisserie • Lyon 69001</div>
                  <div class="description-shop">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattisam.
                  </div>
              </div>

              <div class="offset-1  col-3">
                <img class="pro-img" src="images/homeBackground.jpg" alt="test">
              </div>
            </div>
          </div>


            <div class="select-product-part">
              <div class="row">
                <div class="col-8">
                  <div class="product list">

                    <div class="market-list">
                      <div class="product-items alert alert-sd">
                        <div class="row">
                          <div class="col-9 product-name">5 x Choux à la créme</div>
                          <div class="col-2 product-price">2,50 €</div>
                          <div class="col-1 add-product"><i class="fas fa-plus-circle"></i></div>
                        </div>
                      </div>
                    </div>

                    <div class="market-list">
                      <div class="product-items alert alert-sd">
                        <div class="row">
                          <div class="col-9 product-name">5 x Choux à la créme</div>
                          <div class="col-2 product-price">2,50 €</div>
                          <div class="col-1 add-product"><i class="fas fa-plus-circle"></i></div>
                        </div>
                      </div>
                    </div>

                    <div class="market-list">
                      <div class="product-items alert alert-sd">
                        <div class="row">
                          <div class="col-9 product-name">5 x Choux à la créme</div>
                          <div class="col-2 product-price">2,50 €</div>
                          <div class="col-1 add-product"><i class="fas fa-plus-circle"></i></div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>

                <div class="offset-1 col-3">
                  <div class="min-basket-customer alert alert-sd">
                      <h3>Votre panier</h3>

                      <div class="row min-basket-list">
                        <div class="col-8">5 x Choux à la créme</div>
                        <div class="col-4">2,50 €</div>
                      </div>
                      <div class="row min-basket-list">
                        <div class="col-8">3 x Croissaints</div>
                        <div class="col-4">2,50 €</div>
                      </div>

                      <div class="row min-total-basket">
                        <div class="col-8">Total</div>
                        <div class="col-4">5,00 €</div>
                      </div>

                      <button type="button" class="btn btn-SuggarDoggy">Finaliser votre commande</button>
                  </div>
                </div>

              </div>
            </div>

          </div>
        </main>


    </div>



  </body>
</html>
