<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="container">

        <header class="row">
          <img src="images/suggar-doggy-logo.png" alt="Logo Suggar Doggy">
          <h1>Suggar Doggy</h1>
        </header>


      <main>
        <div class="header-page">
          <h2>Vidici pâtisserie</h2>
          <div class="specialite-shop">Patisserie</div>
          <div class="description-shop">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattisam.</div>
        </div>
      </main>

      <footer>

      </footer>

    </div>



  </body>
</html>
