body {
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #484848;
}

a {
  color: #00B7FF;
}

/* Design de lq pqge d accueil */
#homeBackground {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/homebackground.jpg);
}

.logo {
  width: 100px;
}
.brand {
  display: flex;
  align-items: flex-start;
}
