body {
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #484848;
}

a {
  color: #00B7FF;
}

/* Design de lq pqge d accueil */
#homeBackground {
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-image: url(/images/homebackground.jpg);
  z-index: 1;
}
#homeBackground:after {
  position: absolute;
  top: 0;
  content:"";
  height:100%;
  width:100%;
  background-color: rgba(0,0,0,0.44);
  z-index: 2;
}

.logo {
  width: 100px;
}
.brand {
  display: flex;
  align-items: center;
}
.brand h1 {
  color: #FFFFFF;
  font-weight: 700;
}

#header-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#slogan {
text-align: center;
color: #FFFFFF;
}
#slogan h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
}
#slogan p {
  font-weight: 300;
}
.login-part a {
  color: white;
  font-size: 16px;
  justify-content: space-between;
}
.login-part a:first-of-type {
margin-right: 10px; 
}
#partner {
  display: flex;
  justify-content: flex-end;
}
#partner a{
    color: white;
    margin-left: 10px;
}
#partner a:hover {
  text-decoration: none;
}
#homecontent {
  z-index: 3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.btn-SuggarDoggy {
  background-color: #FB7859;
  color: white;
}
.btn-SuggarDoggy:hover {
background-color: #D66953;
}
